<div class="container-fluid mt-5">
    <div class="container">

        <div class="row">
            <div class="col-9">
                <h1>Mi carrito:</h1>
            </div>

        </div>
        <hr>

        <div class="row">
        {{#each productos}}
            <div class="card sm-1">
                <a href="/productos2/{{id}}">
                <div class="card mb-4 card-prod shadow-sm bg-dark">
                        {{#if imagen}}
                            <img  src="/images/{{imagen}}" class="card-img" alt="{{nombre}}" >
                             
                        {{else}}
                            <img  src="/images/default.png" class="card-img" alt="{{nombre}}">
                        {{/if}}
                    <div class="card-body">
                        <p class="h4 text-white">{{nombre}}</p>
                    </div>
                </div>
                </a>
            </div>
        {{/each}}
    </div>



    </div>
</div>